<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/de/" />
    <link rel="canonical" href="https://duefratelli-dresden.de/de/" />
    <title>Due Fratelli</title>
</head>
<body></body>
</html>
